.image1s img {
    width: 210px;
    height: 215px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.samsungimg1 img {
    width: 190px;
    height: 215px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.b_div {
    width: 215px;
    height: 405px;
}
.big_div {
    margin-left: 0px;
    width: 246px;
    height: 537px;
    border: 2px solid rgb(235, 235, 235);
    
}
.slide {
    position: relative;
}
.previousbtn1 {
    position: absolute;
    top: 100px;
    left: -10px;
}
.nextbtn1 {
    position: absolute;
    top: 100px;
    left: 190px;
}
.portre {
    height: 545px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.hef_end {
    width: 220px;
    height: 50px;
    padding-top: 7px;
}
.hef_end span {
    color: black;
    font-weight: bold;
    font-size: 21px;
}
.time li {
    list-style-type: none;
}
.time {
    width: 210px;
    height: 50px;
    padding-left: 0;
    margin-bottom: 0;
}
.li_1, .li_2, .li_3 {
    width: 64px;
    height: 50px;
    display: inline-block;
}
.hour,.minute,.second {
    font-size: 15px;
}
.hour1,.minute1,.second2 {
    font-size: 14px;
}
.second2 {
    padding-left: 4px;
}
.hour1, .hour {
    margin-bottom: 0;
}
.hour {
    margin-left: 27.685px;
}
.hour1 {
    margin-left: 17.75px;
}
.minute, .minute1 {
    margin-bottom: 0;
}
.minute {
    margin-left: 23.375px;
}
.minute1 {
    margin-left: 7.56px;
}
.second, .second2 {
    margin-bottom: 0;
}
.second {
    margin-left: 23.375px;
}
.second2 {
    margin-left: 10px;
}
.button_16 svg {
    color: rgb(220, 220, 220);
    font-weight: bolder;
    width: 30px;
    height: 30px;

}
.span_1{
    width: 220px;
    font-size: 16px;
    height: 22px;
    font-weight: 700;
}
.span_asus{
    margin-left: 20.61px;
}
.qiymet_sebet {
    display: flex;
    width: 210px;
    height: 66px;
}
.qiymet {
    width: 85px;
    height: 66px;
    margin-bottom: 0;
}
.oz_qiymeti {
    width: 100px;
    height: 33px;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 10px;
    padding-top: 6px;
    text-decoration:  red line-through;
}
.oz_qiymeti img {
    width: 10px;
    height: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.end_qiymeti {
    width: 100px;
    height: 33px;
    margin-bottom: 0;
    margin-left: 10px;
    color: red;
}
.end_qiymeti img {
    width: 10px;
    height: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.sebete_at {
    width: 105px;
    height: 40px;
    margin-top: -7px;
}
.sebet_button {
    width: 107px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(153, 204, 51);
    color: white;
    font-weight: 600;
}
.carousel-button11 {
    height: 255px;
}
.li_right1 {
    position: relative;
}
.li_right2 {
    position: relative;
}
.li_right1:after {
    content: '';
    height: 50%;
    border: 0.1px solid #777;
    position: absolute;
    top: 10px;
    left: 62px;
}
.li_right2:after {
    content: '';
    height: 52%;
    border: 0.1px solid #777;
    position: absolute;
    top: 10px;
    left: 67px;
}
.caro_control {
    margin-top: 20px;
    width: 210px;
    height: 25px;
    position: relative;
}
.carousel_buttons4 {
    z-index: 0;
    width: 210px;
    height: 25px;
    margin: 0;
    position: absolute;
}
.div_but_tek_bax {
    width: 210px;
    height: 35px;
    margin-top: -17px;
    background-color: rgb(240, 241, 242);
    position: relative;
}
.div_but_tek_bax a {
    position: absolute;
    left: 27px;
    top: 5px;
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: 500; 
}
.div_but_tek_bax:hover {
    background-color: rgb(255, 0, 60);
    transition: 200ms;
}
.div_but_tek_bax a:hover {
    color: rgb(220,220,220);
    transition: 200ms;
}

